/* Importing roboto font for site */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

header {
  font-family: 'Roboto', sans-serif;
  background-color: #2F243A;
  color: #DB8A74;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px
}

h1{
  font-size: 35px;
}

h2{
  font-size: 29px;
}

h3 {
  text-align: center;
  margin-bottom: 22px;
}

main {
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: #444054;
  margin-left: 25%;
  margin-right: 25%;
}

/* Cropping main image of myslef on top of page*/

.crop {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width:550px;
  height:450px;
  object-fit:cover;
  border: 4px solid;
  border-color: #BEBBBB;
}

.list-inside{
  list-style-position: inside;
}

.align-left{
  text-align: left;
}

/*Setting the 3 images in a single row */

.column {
  float: left;
  width: 32%;
  padding: 8px;
  text-align: center;
}

/* Setting image slightly transparent */

.opacity{
  opacity: 0.8;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Clearing the row setting so it doesn't apply to later things */

/*Styling links under the projects */

a:link{
color:#a76ee0
}

a:visited {
color:#531276
}

a:hover{
color:#BEBBBB
}

a:active{
color:#b73c1a
}

footer{
  background-color: #68498882;
  padding-bottom: 12px;
}

footer p{
  color: #b73c1a;
  padding: 6px 12px;
}

.logos{
  margin: 0px 12px 0px;
}

html {
  background-color: #FAC9B8;
}
